@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: white;
    background: #141414;
}
.info  {
    margin-bottom: 10px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}


.name {
    display: block;
    width: auto;
}

.info-text p{
    font-style: italic;
    font-weight: bold;
    opacity: .8;
}

.container {
    max-width: 960px;
    margin: auto;
}
.avatar {
    width: 256px;
    display: block;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(236, 236, 236, 0.628);
    
}



.header {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.connection {
    padding: 20px;
    background:  #222222;
    margin-bottom: 20px;
    border-radius: 10px;
    display: block;
}

.connection h3 {
    text-align: center;
}

.form-group label{
    display: block;
    color: #96999c;
    
}

.form-group input, textarea {
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #e1e1df;
    background: transparent;
    color: #c0c7cc;
    outline: none;
    padding: 15px 0 10px;
    font-family: inherit;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}


.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

a {
    color: #818181;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #818181;
}



.hobby {
    padding: 20px;
    background: #5F9EA0;
    margin-bottom: 20px;
    border-radius: 10px;
}
.work {
    padding: 20px;
    background: #696969;
    margin-bottom: 20px;
    border-radius: 10px;
}

.button-sund {
    background: #238636;
    color: #f1ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.button-sund:hover {
    background: #2da44e;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}

